body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.top-container{
    background-color: hsl(193, 100%, 96%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.logo-container{
    display: flex;
    justify-content: space-between;
    padding: 25px 18px;
}
.logo{
    width: 30%;
}
.logo img{
    width: 100%;
}
.try-it-free{
    width: 30%;
    height: 25px;
    border-radius: 10px;
    
}
.try-it-free button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    border: 0;
}
.try-it-free button:hover{
    cursor: pointer;
}
.build-community{
    background-image: url(images/bg-hero-mobile.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}
.build-describtion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.build-describtion h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}
.build-describtion p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13.8px;
    margin: 0;
}
.build-describtion button{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
}
.build-describtion button:hover{
    cursor: pointer;
}
.build-image{
    width: 100%;
}
.build-image img{
    width: 100%;
}

.second-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 18px;

}
.same{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 30px; 
    border-radius: 10px;
}
.photo{
    width: 100%;
}
.photo img{
    width: 100%;
}
.describtion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.describtion h1{
    margin: 0;
    font-size: 20px;
}
.describtion p{
    text-align: center;
    color: hsl(208, 11%, 55%);
    margin: 0;
    font-size: 14px;
}
.describtion button{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
}
.describtion button:hover{
    cursor: pointer;
}
.ready{
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
}
.ready h1{
    font-size: 17px;
}

.footer-container{
    background-color: hsl(192, 100%, 9%);   
    color: white;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-top: 100px;
    gap: 50px;
}
.footer-logo{
    width: 50%;
    background-color: #f5f5f5;
}
.footer-logo img{
    width: 100%;
}
.footer-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.address{
    display: flex;
    align-items: center;
    gap: 20px;
}
.location{
    align-items: flex-start;
}
.address img{
    width: 15px;
    height: 15px;
}
.address p{
    font-size: 14px;
    margin: 0;
}
.address-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links p{
    margin: 0;
}
.footer-links p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.icon:hover{
    cursor: pointer;
    color: hsl(322, 100%, 66%);
}
.copyright{
    text-align: center;
    font-size: 10px;
}

@media (min-width: 768px) {
    .try-it-free{
        width: 20%;
        height: 30px;
        border-radius: 15px;
    }
    .build-community{
        background-image: url(images/bg-hero-desktop.svg);
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        gap: 20px
    }
    .build-describtion{
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        gap: 20px;
    }
    .build-describtion h1{
        font-size: 25px;
        
    }
    .build-describtion p{
        font-size: 13px;
    }
    .build-describtion button{
        width: 50%;
    }
    .build-image{
        width: 150%;
    }

    .second-container{
        padding: 50px;
    
    }
    .same{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 25px;
        padding: 25px; 
    }
    .following-conversation{
        flex-direction: row;
    }
    .describtion{
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
    }
    .describtion h1{
        margin: 0;
        font-size: 20px;
    }
    .describtion p{
        text-align: left;
        font-size: 12px;
    }
    .describtion button{
        width: 50%;
    }
    .ready{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 50px;
        padding-top: 100px;
    }
    .footer-1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 10px;
    }
    .footer-logo{
        width: 50%;
    }
    .footer-logo img{
        width: 100%;
    }
    .footer-links{
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(3, 10%);
        row-gap: 30px;
        column-gap: 100px;
        padding-top: 50px;
        font-size: 10px;
    }
    .p1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .p2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .p3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .p4{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .p5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .p6{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .footer-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;

    }
}